nav ul li {
  list-style: none;
  display: inline-block;
  font-family: Arial;
  margin-right: 40px;
}

nav ul {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

nav ul li a {
  text-decoration: none;
  color: chocolate;
  padding: 10px;
}

nav ul li a:hover {
  background-color: whitesmoke;
  color: darkgoldenrod;
}

.content {
  min-height: 800px;
  background-color: wheat;
}

.left-column{
  width: 68%;
  background: grey;
  display: inline-block;
  padding: 10px;
}

.aside-column{
  width: 28%;
  float: right;
  padding: 10px;
}
