body{
color:green;
}




nav ul li {
  list-style: none;
  display: inline-block;
  font-family: Arial;
  margin-right: 40px;
  position: relative;
}

nav ul {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.footer nav ul{
    display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: chocolate;
  padding: 10px;
}

nav ul li a:hover {
  background-color: whitesmoke;
  color: darkgoldenrod;
}

nav ul li a.logo-link:hover {
  background-color: transparent;
  color: darkgoldenrod;
}


.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: rgba(178,34,34,0.85);
  margin: 0;
}

.content {
  min-height: 800px;
  background-color: wheat;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  z-index: 0;
  position: relative;
  padding-top: 20px;
}

.left-column {
  width: 68%;
  background: grey;
  display: inline-block;
  padding: 10px;
}

.aside-column {
  width: 28%;
  float: right;
  padding: 10px;
}

header {
  height: 60px;
  background: lightgoldenrodyellow;
  margin-top: -16px;
  position: relative;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-top: 30px;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: -1px 6px 5px -3px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -1px 6px 5px -3px rgba(0, 0, 0, 0.33);
  box-shadow: -1px 6px 5px -3px rgba(0, 0, 0, 0.33);
}

.logo-image{
  width: 60px;
    position: absolute;
    right: 10px;
    top: -13px;
    border: 1px solid;
    border-radius: 10px;
    opacity: 0.9;
}

.logo-image:hover{
    opacity: 1;
    border-color: firebrick;
}


.main-page-img{
        width: 100%;
    }

    @media screen and (min-width: 800px) {
      .main-page-img{
          width: 50%;
          float: left;
      }
}


.footer{
  background-color: lightgoldenrodyellow;
  text-align: center;
  -webkit-box-shadow: 0px -6px 6px -1px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px -6px 6px -1px rgba(0,0,0,0.33);
  box-shadow: 0px -6px 6px -1px rgba(0,0,0,0.33);
  z-index: 1;
  position: relative;
}
